<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="300" class="{{ page.layout }}" onload="">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/urbanwildlogo.png" /></td></tr></table></div>
  <div id="nonsplash">
    <div id="innernonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}



    <div class="light" id="about">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable">URBAN WILD: Homes go wild for it!</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12 text-left editable"><p><strong>Bring a bit of jungle into your home; a jungle with big, leafy plants. A jungle with cool and unique species. Shake things up a bit with Urban Wild. For those who dare...</strong></p></div>
          </div>
      </div>
    </div>

    <div class="light collectie2" id="collection">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable">Collection</h2>
            </div> 
        </div>
      </div>
      <div class="container" style="padding: 0 15px;">
          {% assign siteplants = site.plants | sort: 'order' %}
          {% for item in siteplants limit:7 %}
              {% if forloop.index < 3 or forloop.index == 5 or forloop.index == 6 or forloop.index == 8 or forloop.index == 9 %}
                <div class="plant item{{ forloop.index }}" style="background: white url('//images.weserv.nl/?url=urban-wild.com{{ item.image | replace:' ','%20' }}&w=800&h=800&output=jpg&q=50&t=fit') center center no-repeat; background-size: contain;" onclick="window.location.href='{{ item.url }}'"></div>
                <div class="square" onclick="window.location.href='{{ item.url }}'"><div style="text-align: center;"><h3>{{ item.title }}</h3>
                {% for subitem in item.variants %}
                  {% if forloop.index == 1 %}{{ forloop.length }} {% if forloop.length > 1 %}varieties{% else %}variety{% endif %}{% endif %}
                {% endfor %}</div></div>
              {% else %}
                <div class="square" onclick="window.location.href='{{ item.url }}'"><div style="text-align: center;"><h3>{{ item.title }}</h3>
                {% for subitem in item.variants %}
                  {% if forloop.index == 1 %}{{ forloop.length }} {% if forloop.length > 1 %}varieties{% else %}variety{% endif %}{% endif %}
                {% endfor %}</div></div>
                <div class="plant item{{ forloop.index }}" style="background: white url('//images.weserv.nl/?url=urban-wild.com{{ item.image | replace:' ','%20' }}&w=800&h=800&output=jpg&q=50&t=fit') center center no-repeat; background-size: contain;" onclick="window.location.href='{{ item.url }}'"></div>
              {% endif %}
          {% endfor %}
                <div style="clear: both; width: 100%; height: 1px; float: none;"></div>
          <a href="/collection" class="btn editable" style="display: inline-block; float: none; clear: both; width: auto; margin: 25px auto 0;">See the whole collection</a>
      </div></div>
    </div>


    <div class="light" id="airpurifying">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left"> 
            <h2 class="post-title editable">Air purifying</h2>
            <div class="editable">
            <p>Urban Wild plants purify the air in your home. In fact, these species were specifically chosen for their ability to clean the air. Our environment contains many toxic substances. Plants absorb and break down these substances in the air and convert CO2 into oxygen. They also improve the humidity in your home through the process of evaporation and absorb particulate matter in their leaves. All of this makes Urban Wild plants both beautiful and beneficial!</p>
              </div>
          </div>
        </div>
      </div>
    </div>

  

    {% include footer.html %}
</div>
  </div></body>

</html>
